<html>
<head>
    <title>Spring & Velocity</title>
</head>
<body>

<div>
<h1>other layout</h1>
    <!-- View abc.vm is inserted here -->
    <!-- Noi dung View abc.vm se duoc tren tai day -->
    $screen_content

</div>

<div>
    #parse("/WEB-INF/fragments/_footer.vm")
</div>
</body>
</html>