#set($layout="/WEB-INF/layouts/layout_other.vm")

<h1>Index</h1>
 
<h2>Department list</h2>
<table border="1">
<tr>
  <th>No.</th>
  <th>Dept No</th>
  <th>Dept Name</th>
</tr>
#foreach($dept in $departments)
   <tr>
       <td>other</td>
    <td>$dept.deptNo</td>
    <td>$dept.deptName</td>
   </tr>
#end
</table>